VITE_SUPABASE_URL=https://jlnegvdxzmntzdaohrqw.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsbmVndmR4em1udHpkYW9ocnF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MDg4MjMsImV4cCI6MjA4NjE4NDgyM30.T1tR_yMAOwytmmJ-9bqPH-8kF7xsXw3HHuf9Opw4fC4